html {
    scroll-behavior: smooth;
}

/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONTS */
@font-face {
  font-family: "JettBrains Mono";
  src: url("../fonts/JetBrainsMono-ExtraBold.woff2") format("woff2"); /* .. goes back a folder */
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "JettBrains Mono";
  src: url("../fonts/JetBrainsMono-Bold.woff2") format("woff2"); /* .. goes back a folder */
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "JettBrains Mono";
  src: url("../fonts/JetBrainsMono-Medium.woff2") format("woff2"); /* .. goes back a folder */
  font-weight: 500;
}
@font-face {
  font-family: "JettBrains Mono";
  src: url("../fonts/JetBrainsMono-Regular.woff2") format("woff2"); /* .. goes back a folder */
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "JettBrains Mono";
  src: url("../fonts/JetBrainsMono-ExtraLight.woff2") format("woff2"); /* .. goes back a folder */
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "JettBrains Mono";
  src: url("../fonts/JetBrainsMono-Thin.woff2") format("woff2"); /* .. goes back a folder */
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "IBM Plex Serif";
  src: url("../fonts/IBMPlexSerif-Regular.ttf") format("ttf"); /* .. goes back a folder */
  font-weight: 500;
  font-style: normal;
}

body {
    font-family: 'Inter', 'JetBrains Mono', 'IBM Plex Serif', monospace;
    background-color: #ffffff;
    color: #000000;
    line-height: 1.6;
    overflow-x: hidden;
}

/* Container */
.container {
    max-width: 107.5rem;
    margin: 0 auto;
    padding: 0 5rem;
}

@media (max-width: 48rem) {
    .container {
        padding: 0 1.5rem;
    }
}

/* Header */
.header {
    padding: 1.5rem 0;
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.4);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    font-family: "JettBrains Mono", monospace;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: -0.015rem;
    list-style: none;
}

.nav-links {
    display: flex;
    gap: 3.875rem;
    list-style: none;
}

.nav-links a {
    font-family: 'JettBrains Mono', monospace;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    transition: color 0.3s ease;
    letter-spacing: -0.015rem;
}

.nav-links a:hover {
    color: #FF6A00;
}

@media (max-width: 48rem) {
    .nav-links {
        gap: 1.5rem;
    }
    
    .nav-left a {
        font-size: 0.5rem;
    }
    .nav-links a {
        font-size: 0.5rem;
    }
}

/* Hero Section */
.hero {
    padding: 12rem 0 4rem;
    text-align: center;
}

.hero-content {
    max-width: 75rem;
    margin: 0 auto;
}

.intro {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    margin-bottom: 1rem;
    justify-content: center;
}

.intro h1 {
    font-size: 2rem;
    font-weight: 400;
}

.flower-icon {
    height: 2.5rem;
    width: 2.5rem;
    flex-shrink: 0;
    margin-top: 0.5rem;
}

.tagline {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 2.625rem;
    max-width: 50rem;
    word-spacing: 2;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.highlight {
    color: #FF6A00;
    font-family: "IBM Plex Serif", serif;
    font-weight: 500;
    font-style: italic;
}

.employment {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: black;
    font-size: 1.3rem;
    letter-spacing: -0.035rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    justify-content: center;
}

.employment:hover {
    transform: translateX(0.625rem);
}

.employment a:hover {
    color: #FF6A00;
}

@media (max-width: 48rem) {
    .hero {
        padding: 5rem 0 3.5rem;
    }

    .intro h1 {
        font-size: 1.5rem;
    }

    .flower-icon {
        width: 2rem;
        height: 2rem;
    }

    .tagline {
        font-size: 1.5rem;
    }

    .employment {
        font-size: 1rem;
    }
}

/* Projects Section */
.projects {
    padding: 3.75rem 0 6.25rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    max-width: 98rem;
}

.project-card {
    cursor: pointer;
}

.project-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 33, 33, 0);
    pointer-events: none;
    border-radius: 0.3rem;
}

.project-card:hover .project-image::after {
    background-color: rgba(33, 33, 33, 0.3);
}

.project-card:last-child {
    grid-column: 1 / 2;
}

.project-image {
    width: 100%;
    aspect-ratio: 1.1;
    border-radius: 0.3rem;
    overflow: hidden;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.project-image img,
.project-image video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-image img {
    width: 60%;
    height: auto;
    object-fit: contain;
    object-position: top;
}

.orange-bg img {
    width: 90%;
    height: auto;
    margin-top: 9rem;
    object-fit: contain;
    object-position: top;
}

.orange-bg {
    background: #FF690B;
}
    
.blue-bg {
    background: #026F9C;
}

.project-info {
    padding: 0 0.5rem;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 0.75rem;
    flex-wrap: wrap;
    gap: 0.75rem;
    font-weight: 300;
    font-family: "JettBrains Mono", monospace;
}

.project-info h3 {
    font-size: 1.875rem;
    font-weight: 500;
    letter-spacing: -0.01875rem;
    font-family: "Inter", sans-serif;
}

.project-meta {
    font-size: 1.125rem;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: -0.01125rem;
}

.project-description {
    font-size: 1.15rem;
    line-height: 1.25;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: -0.0125rem;
    font-weight: 300;
}
@media (max-width: 64rem) {
    .projects-grid {
        grid-template-columns: 1fr;
        gap: 3.75rem;
    }

    .project-card:last-child {
        grid-column: 1;
    }
}

@media (max-width: 48rem) {
    .project-info h3 {
        font-size: 1.5rem;
    }

    .project-meta {
        font-size: 1rem;
    }

    .project-description {
        font-size: 1.125rem;
    }
}

/* Footer */
.footer {
    padding: 3rem 0 5rem;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

.social-icons {
    display: flex;
    gap: 0.3rem;
    margin-bottom: 0.001rem;
}

.social-icon {
    width: 2.1875rem;
    height: 2.1875rem;
    display: flex;
    align-items: center;
    justify-content: center;
     margin-bottom: 0.001rem;
}


.footer-text {
    font-size: 1rem;
    color: #000000;
    text-align: center;
    letter-spacing: -0.02rem;
}



